In [32]:
import pandas as pd
import os
import datetime;
# Parse the listing of the S3 bucket to see if we got the files we expected

# > cd c:\crs\src\UASTools
# > aws s3 ls cmgp-coastcam/cameras/caco-01/products/ > bucket.txt --profile coastcam

# some variables we can adjust
max_age = 600. # Maximum age of bucket.txt

# check to make sure bucket.txt is fresh
tsNow = datetime.datetime.now().timestamp()
print("Current time stamp: ",tsNow)
tsBucketTxt = os.path.getmtime("bucket.txt")
print("Bucket contents time stamp: ",tsBucketTxt)
diff = tsNow - tsBucketTxt
print('Age of bucket.txt: ',diff,' seconds')

df = pd.read_csv('bucket.txt', delim_whitespace=True, warn_bad_lines=True, header=None, encoding='utf-16')
df.columns = ["fileDate", "fileTime", "fileSize", "fileName"]
df

Current time stamp:  1577200696.945915
Bucket contents time stamp:  1577192425.694435
Age of bucket.txt:  8271.251480102539  seconds

       fileDate  fileTime  fileSize                 fileName
0    2019-12-11  15:45:06    727968   1576094400.c1.snap.jpg
1    2019-12-11  15:45:07    686737   1576094400.c2.snap.jpg
2    2019-12-11  15:45:08    421931  1576094401.c1.timex.jpg
3    2019-12-11  15:45:08    390549  1576094401.c2.timex.jpg
4    2019-12-11  15:45:09    212588    1576094402.c1.var.jpg
..          ...       ...       ...                      ...
294  2019-12-13  15:45:07    360365   1576267200.c1.snap.jpg
295  2019-12-13  15:45:08    410010   1576267200.c2.snap.jpg
296  2019-12-13  15:45:09    321209  1576267201.c1.timex.jpg
297  2019-12-13  15:45:10    357876  1576267201.c2.timex.jpg
298  2019-12-13  15:45:10    167654    1576267202.c1.var.jpg

[299 rows x 4 columns]

In [33]:
df[df['fileName'].str.contains("1576266")]

Empty DataFrame
Columns: [fileDate, fileTime, fileSize, fileName]
Index: []